.selected_yt_timestamp_link {
  background-color: #575757; /* #777 */;
  border-radius: 16px;
  padding-right: 6px;
  padding-left: 6px;
  color: white !important;
}


.yt_timestamp_nowplaying, .yt_timestamp_controls {
  font-size: 1.4rem !important;
  display: inline-block;
  padding: 5px !important;
  background-color: white;
  border-radius: 0%;
  color: black;
  border: 1px solid black !important;
  box-shadow: 2px 3px 0px 0px black;
  transition: 1000ms;
}

.yt_timestamp_controls svg path {
  fill: black !important;
  transition: 1000ms;
}

.yt_timestamp_default_style, html[dark="true"] .yt_timestamp_default_style {
  border-radius: 12px !important;
  background-color: #575757 !important;
  color: white !important;
  box-shadow: none !important;
  border: none !important;
}

.yt_timestamp_default_style svg path, html[dark="true"] .yt_timestamp_default_style svg path {
  fill: #fff !important;
}

/* Dark Mode */
html[dark="true"] .yt_timestamp_nowplaying, html[dark="true"] .yt_timestamp_controls {
  display: inline-block;
  padding: 5px !important;
  background-color: #181818;
  border-radius: 0%;
  color: white !important;
  border: 1px solid white;
  box-shadow: 2px 3px 0px 0px white;
}

html[dark="true"] .yt_timestamp_controls svg path {
  fill: white !important

}

button.yt_timestamp_controls {
  border: none;
  width: 35px;
  height: 35px;
}

#yt_timestamp_container {
  display: flex;
  margin-bottom: 4px !important;
}

button.yt_timestamp_prev {
  margin-right: 5px;
}

button.yt_timestamp_next {
  margin-left: 5px;
}

button.yt_disabled_btn {
  display: none !important;
}

.yt_timestamps_hide {
  display: none !important;
}

h2.yt_timestamps_bg_hide, button.yt_timestamps_bg_hide {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
}

a.yt_timestamps_bg_hide.selected_yt_timestamp_link  {
  background-color: transparent !important;
  color: rgb(6, 95, 212) !important;
}

.yt_timestamps_bg_hide svg path {
  fill: black !important;
}