.selected_yt_timestamp_link {
  background-color: #575757; /* #777 */;
  border-radius: 16px;
  padding-right: 6px;
  padding-left: 6px;
  color: white !important;
}

.yt_timestamp_nowplaying, .yt_timestamp_controls {
  /* border-radius: 3px;
  padding: 3px !important;
  margin-left: 5px !important; */
  font-size: 1.4rem !important;
  /* background-color: #777 !important;
  color: white !important;
  display: inline-block !important; */
  border-radius: 12px !important;
  background-color: #575757; /* #777 !important; */
  color: white !important;
  display: inline-block;
  padding: 5px !important;

}

button.yt_timestamp_controls {
  border: none;
  width: 35px;
  height: 35px;
}

#yt_timestamp_container {
  display: flex;
}

button.yt_timestamp_prev {
  margin-right: 5px;
}

button.yt_timestamp_next {
  margin-left: 5px;
}

button.yt_disabled_btn {
  display: none !important;
}

.yt_timestamps_hide {
  display: none !important;
}

h2.yt_timestamps_bg_hide, button.yt_timestamps_bg_hide {
  background-color: transparent !important;
  color: black !important;
}

a.yt_timestamps_bg_hide.selected_yt_timestamp_link  {
  background-color: transparent !important;
  color: rgb(6, 95, 212) !important;
}

.yt_timestamps_bg_hide svg path {
  fill: black !important;
}

/* .yt_timestamps_right {
  float: right !important;
} */
