a.selected_yt_timestamp_link {
  background-color: #777;
  border-radius: 16px;
  padding-right: 6px;
  padding-left: 6px;
  color: white !important;
}

h2.yt_timestamp_nowplaying, button.yt_timestamp_controls {
  /* border-radius: 3px;
  padding: 3px !important;
  margin-left: 5px !important; */
  font-size: 1.4rem !important;
  /* background-color: #777 !important;
  color: white !important;
  display: inline-block !important; */
  border-radius: 12px !important;
  background-color: #777 !important;
  color: white !important;
  display: inline-block !important;
  padding: 5px !important;
}

button.yt_timestamp_controls {
  border: none;
}

#yt_timestamp_container {
  display: flex;
}

button.yt_timestamp_prev {
  margin-right: 5px;
}

button.yt_timestamp_next {
  margin-left: 5px;
}

button.yt_disabled_btn {
  display: none !important;
}
